@using System.Drawing
@model FileSys.Models.FilesModel[]

@{
    ViewData["Title"] = "WExploere";
    
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div align="left">
    @foreach (var filesmodel in Model)
    {
        <ul>
            <img src="@Url.Action("imageGenerate", "Path", new {s = @filesmodel.path}) %>"/><a href="/@filesmodel.path">@filesmodel.name</a>
        </ul>
    }
</div>
</body>
</html>