@model dynamic

@{
    ViewBag.Title = "Asp.Net MVC Display image from byte array";  
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
    <img src="@Url.Action("ImageGenerator", "ImageGenerator", new {@ViewBag.Imagepath})" alt=""/>
</div>
</body>
</html>