@using System.Drawing
@model FileSys.Models.FilesModel[]

@{
    ViewData["Title"] = "WExploere";
    
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div align="left">
    @foreach (var filesmodel in Model)
    {
        <ul>
            @if (filesmodel.isFolder)
                {
                    <img src="~/Images/folder-icon.png" width="45" height="45" alt="">  
                }
            else
            {
                <img src="@Url.Action("imageGenerate", "Path", new {filePath = @filesmodel.path})" alt=""/>
            }
            <a href="/files/rezgs/@filesmodel.path">@filesmodel.name</a>
        </ul>
    }
</div>
</body>
</html>